In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Layer
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import tensorflow as tf
import datetime

In [30]:
data = pd.read_csv('./data/student_data.csv')
data.head()

,GPA,Certifications & Skills,College,City,College Tier,City Tier,Placement Ratio,CIBIL Score,Parent Income (LPA),Salary (INR),Credit Worthiness
0,6.25,6,College_100,City_10,Tier 2,Tier 2,0.832075,777,10.997215,1.980164e+06,0.597033
1,9.70,3,College_73,City_3,Tier 3,Tier 2,0.544938,358,10.139370,1.973939e+06,0.508709
2,8.39,1,College_16,City_8,Tier 3,Tier 2,0.528553,409,12.808232,1.988770e+06,0.428536
3,7.59,4,College_46,City_5,Tier 2,Tier 2,0.847024,778,12.583080,2.043800e+06,0.634251
4,4.94,2,College_59,City_6,Tier 2,Tier 2,0.834346,893,2.849388,7.258565e+05,0.455229

In [31]:
data.drop('College', axis='columns', inplace=True)
data.head()

,GPA,Certifications & Skills,City,College Tier,City Tier,Placement Ratio,CIBIL Score,Parent Income (LPA),Salary (INR),Credit Worthiness
0,6.25,6,City_10,Tier 2,Tier 2,0.832075,777,10.997215,1.980164e+06,0.597033
1,9.70,3,City_3,Tier 3,Tier 2,0.544938,358,10.139370,1.973939e+06,0.508709
2,8.39,1,City_8,Tier 3,Tier 2,0.528553,409,12.808232,1.988770e+06,0.428536
3,7.59,4,City_5,Tier 2,Tier 2,0.847024,778,12.583080,2.043800e+06,0.634251
4,4.94,2,City_6,Tier 2,Tier 2,0.834346,893,2.849388,7.258565e+05,0.455229

In [32]:
data.drop('City', axis='columns', inplace=True)
data.head()

,GPA,Certifications & Skills,College Tier,City Tier,Placement Ratio,CIBIL Score,Parent Income (LPA),Salary (INR),Credit Worthiness
0,6.25,6,Tier 2,Tier 2,0.832075,777,10.997215,1.980164e+06,0.597033
1,9.70,3,Tier 3,Tier 2,0.544938,358,10.139370,1.973939e+06,0.508709
2,8.39,1,Tier 3,Tier 2,0.528553,409,12.808232,1.988770e+06,0.428536
3,7.59,4,Tier 2,Tier 2,0.847024,778,12.583080,2.043800e+06,0.634251
4,4.94,2,Tier 2,Tier 2,0.834346,893,2.849388,7.258565e+05,0.455229

In [33]:
data = pd.get_dummies(data, columns=['College Tier', 'City Tier'], drop_first=True, dtype=int)

In [34]:
data.head()

,GPA,Certifications & Skills,Placement Ratio,CIBIL Score,Parent Income (LPA),Salary (INR),Credit Worthiness,College Tier_Tier 2,College Tier_Tier 3,City Tier_Tier 2,City Tier_Tier 3
0,6.25,6,0.832075,777,10.997215,1.980164e+06,0.597033,1,0,1,0
1,9.70,3,0.544938,358,10.139370,1.973939e+06,0.508709,0,1,1,0
2,8.39,1,0.528553,409,12.808232,1.988770e+06,0.428536,0,1,1,0
3,7.59,4,0.847024,778,12.583080,2.043800e+06,0.634251,1,0,1,0
4,4.94,2,0.834346,893,2.849388,7.258565e+05,0.455229,1,0,1,0

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [36]:
scaled_data = scaler.fit_transform(data) 
# Convert the scaled data back to a DataFrame with original column names
data = pd.DataFrame(scaled_data, columns=data.columns)

In [37]:
data.head()

,GPA,Certifications & Skills,Placement Ratio,CIBIL Score,Parent Income (LPA),Salary (INR),Credit Worthiness,College Tier_Tier 2,College Tier_Tier 3,City Tier_Tier 2,City Tier_Tier 3
0,0.375000,0.666667,0.664371,0.796327,0.391183,0.484872,0.610110,1.0,0.0,1.0,0.0
1,0.950000,0.333333,0.089730,0.096828,0.353886,0.483435,0.490176,0.0,1.0,1.0,0.0
2,0.731667,0.111111,0.056939,0.181970,0.469923,0.486858,0.381310,0.0,1.0,1.0,0.0
3,0.598333,0.444444,0.694288,0.797997,0.460134,0.499561,0.660649,1.0,0.0,1.0,0.0
4,0.156667,0.222222,0.668917,0.989983,0.036930,0.195333,0.417556,1.0,0.0,1.0,0.0

In [43]:

# Step 3: Preprocess your data
# Assuming the 8 features are columns: 'academic_performance', 'certification_skills', etc.
X = data[['GPA', 'Certifications & Skills', 'Placement Ratio', 
           'CIBIL Score', 'Parent Income (LPA)', 'Salary (INR)', 'College Tier_Tier 2','College Tier_Tier 3','City Tier_Tier 2','City Tier_Tier 3']].values
y = data['Credit Worthiness'].values

# Normalize features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Step 4: Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')
X_test = X_test.astype('float32')
y_test = y_test.astype('float32')
# Step 5: Define the custom loss function
def custom_loss(y_true, y_pred):
    # Modify the impact of skills and certifications when academic performance is low
    skills_weight = X_train[:, 1]  # Assuming certifications & skills is the second feature
    academic_weight = X_train[:, 0]  # Assuming academic performance is the first feature
    
    # Less penalty when certifications are high but academic performance is low
    penalty_factor = 1 / (1 + tf.exp(skills_weight - academic_weight))
    
    # Standard MSE loss scaled by penalty factor
    loss = tf.reduce_mean(tf.square(y_true - y_pred) * penalty_factor)
    return loss

# Step 6: Optional Attention Layer for dynamic feature weighting
class AttentionLayer(Layer):
    def __init__(self):
        super(AttentionLayer, self).__init__()

    def build(self, input_shape):
        self.attention_weights = self.add_weight(name='attention_weights', shape=(input_shape[-1], 1),initializer='random_normal', trainable=True)

    def call(self, inputs):
        attention_scores = tf.nn.softmax(tf.matmul(inputs, self.attention_weights), axis=1)
        output = inputs * attention_scores
        return output

# Step 7: Build the Dense Neural Network model
model = Sequential()

# Input layer and first hidden layer
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dropout(0.5))  # Dropout for regularization

# Attention layer (optional)
model.add(AttentionLayer())  # Adds attention over the features

# Second hidden layer
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.5))

# Third hidden layer
model.add(Dense(16, activation='relu'))

# Output layer (1 neuron for creditworthiness score)
model.add(Dense(1, activation='linear'))  # Use 'sigmoid' for bounded score between 0 and 1

# Step 8: Compile the model with custom loss function
model.compile(optimizer=Adam(learning_rate=0.001), loss=custom_loss, metrics=['mae'])

# Step 9: TensorBoard setup
# Define the logs directory to save the TensorBoard logs
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# Step 10: Add early stopping and train the model
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, 
                    batch_size=32, callbacks=[early_stopping, tensorboard_callback])

# Step 11: Evaluate the model on test data
loss, mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}, Test MAE: {mae}")

# Step 12: Make predictions
predictions = model.predict(X_test)

# Optional: Analyze the predictions
for i in range(5):  # Display first 5 predictions
    print(f"Predicted: {predictions[i]}, Actual: {y_test[i]}")

# Step 13: Launch TensorBoard from the command line
# Use this command in your terminal to start TensorBoard and visualize the logs
# tensorboard --logdir logs/fit

/Users/siddhanthmoraje/Developer/ml/dataset_hackathon/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0420 - mae: 0.2219 - val_loss: 0.0248 - val_mae: 0.1934
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0095 - mae: 0.1090 - val_loss: 0.0153 - val_mae: 0.1490
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0062 - mae: 0.0871 - val_loss: 0.0090 - val_mae: 0.1111
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0045 - mae: 0.0743 - val_loss: 0.0064 - val_mae: 0.0902
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0037 - mae: 0.0659 - val_loss: 0.0040 - val_mae: 0.0686
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0033 - mae: 0.0614 - val_loss: 0.0046 - val_mae: 0.0712
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0028 - mae: 0.0565 - val_loss: 0.0030 - val_mae: 0.0566
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0024 - mae: 0.0519 - val_loss: 0.0035 - val_mae: 0.0598
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0021 - mae: 0.0484 - val_loss: 0.0027 - val_mae: 0.0506
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0018 - mae: 0.0454 - val_loss: 0.0022 - val_mae: 0.0460
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0016 - mae: 0.0428 - val_loss: 0.0022 - val_mae: 0.0441
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0014 - mae: 0.0396 - val_loss: 0.0020 - val_mae: 0.0426
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0014 - mae: 0.0385 - val_loss: 0.0018 - val_mae: 0.0421
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0013 - mae: 0.0374 - val_loss: 0.0022 - val_mae: 0.0457
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0012 - mae: 0.0358 - val_loss: 0.0023 - val_mae: 0.0481
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0011 - mae: 0.0352 - val_loss: 0.0022 - val_mae: 0.0439
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0010 - mae: 0.0332 - val_loss: 0.0021 - val_mae: 0.0444
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0010 - mae: 0.0332 - val_loss: 0.0019 - val_mae: 0.0416
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 9.7619e-04 - mae: 0.0318 - val_loss: 0.0021 - val_mae: 0.0425
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 9.2478e-04 - mae: 0.0312 - val_loss: 0.0018 - val_mae: 0.0400
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8.7739e-04 - mae: 0.0301 - val_loss: 0.0025 - val_mae: 0.0482
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8.9069e-04 - mae: 0.0300 - val_loss: 0.0019 - val_mae: 0.0409
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8.0785e-04 - mae: 0.0295 - val_loss: 0.0024 - val_mae: 0.0469
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.8752e-04 - mae: 0.0288 - val_loss: 0.0019 - val_mae: 0.0402
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.5919e-04 - mae: 0.0278 - val_loss: 0.0021 - val_mae: 0.0439
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7.0386e-04 - mae: 0.0273 - val_loss: 0.0021 - val_mae: 0.0441
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7.1667e-04 - mae: 0.0273 - val_loss: 0.0015 - val_mae: 0.0364
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.8018e-04 - mae: 0.0267 - val_loss: 0.0017 - val_mae: 0.0384
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.0108e-04 - mae: 0.0267 - val_loss: 0.0021 - val_mae: 0.0450
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.3815e-04 - mae: 0.0255 - val_loss: 0.0017 - val_mae: 0.0397
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 6.6485e-04 - mae: 0.0264 - val_loss: 0.0016 - val_mae: 0.0379
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.1234e-04 - mae: 0.0256 - val_loss: 0.0021 - val_mae: 0.0414
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5.8868e-04 - mae: 0.0250 - val_loss: 0.0016 - val_mae: 0.0372
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.0112e-04 - mae: 0.0246 - val_loss: 0.0014 - val_mae: 0.0337
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5.8702e-04 - mae: 0.0246 - val_loss: 0.0018 - val_mae: 0.0401
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5.6691e-04 - mae: 0.0242 - val_loss: 0.0014 - val_mae: 0.0344
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5.1956e-04 - mae: 0.0237 - val_loss: 0.0017 - val_mae: 0.0382
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5.2041e-04 - mae: 0.0231 - val_loss: 0.0017 - val_mae: 0.0406
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5.3228e-04 - mae: 0.0234 - val_loss: 0.0018 - val_mae: 0.0377
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5.2362e-04 - mae: 0.0234 - val_loss: 0.0016 - val_mae: 0.0375
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.8935e-04 - mae: 0.0226 - val_loss: 0.0016 - val_mae: 0.0370
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5.3651e-04 - mae: 0.0231 - val_loss: 0.0014 - val_mae: 0.0353
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 4.8819e-04 - mae: 0.0226 - val_loss: 0.0017 - val_mae: 0.0391
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.7281e-04 - mae: 0.0223 - val_loss: 0.0016 - val_mae: 0.0331
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.8183e-04 - mae: 0.0224 - val_loss: 0.0013 - val_mae: 0.0334
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.2425e-04 - mae: 0.0214 - val_loss: 0.0017 - val_mae: 0.0400
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.7156e-04 - mae: 0.0221 - val_loss: 0.0012 - val_mae: 0.0332
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.6964e-04 - mae: 0.0219 - val_loss: 0.0014 - val_mae: 0.0338
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.9604e-04 - mae: 0.0222 - val_loss: 0.0015 - val_mae: 0.0375
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.6158e-04 - mae: 0.0218 - val_loss: 0.0013 - val_mae: 0.0356
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.6490e-04 - mae: 0.0222 - val_loss: 0.0012 - val_mae: 0.0323
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.5181e-04 - mae: 0.0218 - val_loss: 0.0017 - val_mae: 0.0368
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.4896e-04 - mae: 0.0215 - val_loss: 0.0010 - val_mae: 0.0307
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.2983e-04 - mae: 0.0211 - val_loss: 0.0012 - val_mae: 0.0314
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.2352e-04 - mae: 0.0211 - val_loss: 0.0012 - val_mae: 0.0326
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.3039e-04 - mae: 0.0205 - val_loss: 0.0011 - val_mae: 0.0312
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.2723e-04 - mae: 0.0208 - val_loss: 0.0017 - val_mae: 0.0392
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.2122e-04 - mae: 0.0209 - val_loss: 0.0016 - val_mae: 0.0363
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.1241e-04 - mae: 0.0203 - val_loss: 0.0014 - val_mae: 0.0359
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.1227e-04 - mae: 0.0209 - val_loss: 0.0012 - val_mae: 0.0328
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3.7737e-04 - mae: 0.0200 - val_loss: 0.0013 - val_mae: 0.0340
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4.0135e-04 - mae: 0.0203 - val_loss: 0.0016 - val_mae: 0.0390
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3.8769e-04 - mae: 0.0202 - val_loss: 0.0017 - val_mae: 0.0382
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 742us/step - loss: 0.0010 - mae: 0.0308
Test Loss: 0.0010320581495761871, Test MAE: 0.030748000368475914
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step
Predicted: [0.48498482], Actual: 0.47856828570365906
Predicted: [0.6296092], Actual: 0.6701505780220032
Predicted: [0.51103514], Actual: 0.5050362348556519
Predicted: [0.3878996], Actual: 0.3759775757789612
Predicted: [0.52726275], Actual: 0.5503456592559814

In [44]:
from sklearn.metrics import r2_score

# Calculate R² score
r2 = r2_score(y_test, predictions)
print(f"R² Score: {r2:.4f}")

# Calculate Custom Accuracy within 10% tolerance
tolerance = 0.10
# Check if predictions are within 10% of actual values
within_tolerance = np.abs((predictions.flatten() - y_test) / y_test) <= tolerance
# Calculate the percentage of accurate predictions
accuracy_within_tolerance = np.mean(within_tolerance) * 100
print(f"Accuracy within 10% tolerance: {accuracy_within_tolerance:.2f}%")

R² Score: 0.9217
Accuracy within 10% tolerance: 83.70%

In [45]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predictions)
print(f"Mean Absolute Error (MAE): {mae:.2f}")

Mean Absolute Error (MAE): 0.03

In [46]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)  # RMSE is the square root of MSE
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

Mean Squared Error (MSE): 0.00
Root Mean Squared Error (RMSE): 0.05

/Users/siddhanthmoraje/Developer/ml/dataset_hackathon/venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [47]:
import pickle
pickle_out = open("student_model.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()